/* 전체 배경 스타일 */
body {
  background: linear-gradient(270deg, #B4B3FF 0%, #B4B3FF 25%, #B3E2FF 80.77%, #B3FAFF 100%);
  margin: 0;
}

/* 컨테이너 스타일 */
.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  padding: 20px;
  box-sizing: border-box;
}

/* 진행 바 스타일 */
.progress-bar {
  top: 72px; /* y 좌표 */
  width: 1446px;  
  height: 28px;
  flex-shrink: 0;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 162px;
  overflow: hidden;
  left: 237px;
}

.progress-dots {
  position: absolute;
  top: 60px; /* 진행바 아래로 */
  width: 76%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}


/* 진행바 background 색깔깔 */
.progress {
  height: 100%;
  border-radius: 19.721px;
  background: linear-gradient(90deg, #6c63ff 0%, #b16dff 100%);
  box-shadow: 0px 7.888px 23.665px 0px rgba(112, 144, 176, 0.15);
  transition: width 1.3s ease-in-out; /* 살짝 효과 부드럽게 하는 코드  */
}

.progress-dots .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e0e0e0;
  margin: 0 8px;
  display: inline-block;
  transition: background 0.7s cubic-bezier(.4,2,.6,1);
}

/* 각 점에 순서대로 색상 적용 */
.progress-dots .dot-filled.dot1 { background: #5772EB; }
.progress-dots .dot-filled.dot2 { background: #7769EA; }
.progress-dots .dot-filled.dot3 { background: #965FE9; }
.progress-dots .dot-filled.dot4 { background: #B757E8; }

/* 질문 박스 스타일 */
.question-box {
  text-align: center;
  background: #F9FCFF;
  padding: 20px;
  border-radius: 23px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top : 54px;
  width: 714px;
  height: 378px;
  margin-bottom: 78px;
  display: flex;
  gap: 20px;
  padding: 52px 148px 74.977px 147px;
  flex-direction: column;
  align-items: center;
}

/* n번째 문제 */
.question-title{
  position: relative;
  top : -0px;
}

/* 문제 유형 */
.question-text123 {
  word-break: keep-all;      
  white-space: pre-line;
  line-height: 1.6; 
  font-size: 30px;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Pretendard', sans-serif;
  text-align: center;
  font-weight: 500; 
  position: relative;
  top: 30px;
}

.timer-text {
  font-size: 24px;
  color: #6c63ff;
  font-weight: bold;
}

/* 타이머 원형 스타일 */
.timer-circle {
  position: relative;
  width: 244px;
  height: 236.834px;
}

.circle-svg {
  transform: rotate(-90deg);  
  width: 100%;
  height: 100%;
}

.circle-background1 {
  fill: none;
  stroke: #E7F2FF; 
  stroke-width: 15;
}

.circle-progress1 {
  fill: none;
  stroke: #5A72FF; /* 진행 바 색상 */
  stroke-width: 15;
  stroke-linecap: round;
  stroke-dasharray: 691;
  transition: stroke-dashoffset 1.3s linear;
}

.timer-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68px;
  font-weight: 600;
  font-weight: bold;
  color: #0400FF;
  line-height: normal;
  font-style: normal; 
  font-family: 'Pretendard', sans-serif;
}
