/* RankingPage.css */

.ranking-bg {
    display: flex;
    flex-direction: column;
    align-items: center; /* 모든 요소를 가로 중앙 정렬 */
    background-color: #e0f2f7; /* 배경색 */
    min-height: 100vh;
    padding-bottom: 50px; /* 하단 여백 추가 */
}

.ranking-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.ranking-logo {
    margin-bottom: 20px;
}

.logo-main {
    width: 150px; /* 로고 크기 조절 */
    height: auto;
}

.ranking-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.podium-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    max-width: 700px;
    height: 200px;
    margin-bottom: 50px;
}

.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 텍스트와 메달을 중앙으로 */
    margin: 0 10px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-top: 10px; /* 메달과 겹치지 않도록 */
}

.podium.gold {
    height: 150px;
    width: 120px;
    background-color: #FFD700; /* Gold */
    order: 2; /* 1등을 가운데로 */
}

.podium.silver {
    height: 120px;
    width: 120px;
    background-color: #C0C0C0; /* Silver */
    order: 1; /* 2등을 왼쪽에 */
}

.podium.bronze {
    height: 90px;
    width: 120px;
    background-color: #CD7F32; /* Bronze */
    order: 3; /* 3등을 오른쪽에 */
}

.medal {
    width: 70px; /* 메달 크기 */
    height: 70px;
    position: absolute;
    top: -35px; /* 단상 위로 올림 */
}

.podium-name1, .podium-name2, .podium-name3 {
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 40px; /* 메달과의 간격 */
    font-size: 1.1em;
}

/* 랭킹 목록 박스 스타일 */
.ranking-list-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    padding: 20px;
    margin-top: 30px; /* 단상 아래로 간격 */
}

.ranking-list-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

.rank-header, .name-header, .score-header {
    flex: 1;
    text-align: center;
}
.name-header {
    flex: 2; /* 이름 칸을 더 넓게 */
}

.ranking-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dashed #f0f0f0;
    align-items: center;
}

.ranking-item:last-child {
    border-bottom: none; /* 마지막 아이템에는 선 제거 */
}

.rank, .name, .score {
    flex: 1;
    text-align: center;
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    font-family: Pretendard;
}
.name {
    flex: 2; /* 이름 칸을 더 넓게 */
    font-weight: 500;
}
.score {
    font-size: 12px;
    font-weight: bold;
    color: #007bff; /* 점수 색상 */
}